@model IEnumerable<microcmdb.Web.Models.Node>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OS_Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPU_Arch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPaddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OS_Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPU_Arch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPaddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NodeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NodeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NodeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
