@model IEnumerable<uCMDB.API.Models.Service_Node>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Node_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Node_CPU_Arch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Node_RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Node_Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Node_OS_Ver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Node_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Node_CPU_Arch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Node_RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Node_Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Node_OS_Ver)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Node_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Node_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Node_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
